* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #111111;
  color: #ffffff;
}





/* Common section heading */

.section-heading {
  margin-bottom: 50px;

  text-align: center;
}

.section-heading p {
  margin-bottom: 8px;

  color: #00adb5;

  font-size: 14px;
  font-weight: 600;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-heading h2 {
  color: #ffffff;

  font-size: clamp(30px, 4vw, 42px);
  font-weight: 700;

  line-height: 1.2;
}

